* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dedede;
}

.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 10x #b2b2b2;
}

#taskList {
    #deleteBtn {
        color: white;
        background: red;
        cursor: pointer;
        border: none;
        padding: 5px;
    }
    #deleteBtn:hover {
        background: darkred;
    }
}